---
// Social media links component - icon-only style
const socialLinks = [
  {
    name: 'GitHub',
    url: 'https://github.com/holgergp',
    svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>'
  },
  {
    name: 'Twitter',
    url: 'https://twitter.com/holgergp',
    svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/></svg>'
  },
  {
    name: 'Mastodon',
    url: 'https://mastodon.social/@holgergp',
    svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M23.193 7.879c0-5.206-3.411-6.732-3.411-6.732C18.062.357 15.108.025 12.041 0h-.076c-3.068.025-6.02.357-7.74 1.147 0 0-3.411 1.526-3.411 6.732 0 1.192-.023 2.618.015 4.129.124 5.092.934 10.109 5.641 11.355 2.17.574 4.034.695 5.535.612 2.722-.15 4.25-.972 4.25-.972l-.09-1.975s-1.945.613-4.129.539c-2.165-.074-4.449-.233-4.799-2.891a5.499 5.499 0 0 1-.048-.745s2.125.52 4.817.643c1.646.075 3.19-.097 4.758-.283 3.007-.359 5.625-2.212 5.954-3.905.517-2.665.475-6.507.475-6.507zm-4.024 6.709h-2.497V8.469c0-1.29-.543-1.944-1.628-1.944-1.2 0-1.802.776-1.802 2.312v3.349h-2.483v-3.35c0-1.536-.602-2.312-1.802-2.312-1.085 0-1.628.655-1.628 1.944v6.119H4.832V8.284c0-1.289.328-2.313.987-3.07.68-.758 1.569-1.146 2.674-1.146 1.278 0 2.246.491 2.886 1.474L12 6.585l.622-1.043c.64-.983 1.608-1.474 2.886-1.474 1.104 0 1.994.388 2.674 1.146.658.757.986 1.781.986 3.07v6.304z"/></svg>'
  },
  {
    name: 'Instagram',
    url: 'https://instagram.com/holgergp',
    svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/></svg>'
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/holger-grosse-plankermann',
    svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/></svg>'
  },
  {
    name: 'Website',
    url: 'https://grosse-plankermann.com',
    svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg>'
  },
  {
    name: 'SoundCloud',
    url: 'https://soundcloud.com/holgergp',
    svg: '<svg viewBox="0 0 24 24" fill="currentColor"><path d="M1.175 12.225c-.051 0-.094.046-.101.1l-.233 2.154.233 2.105c.007.058.05.098.101.098.05 0 .09-.04.099-.098l.255-2.105-.27-2.154c0-.057-.045-.1-.09-.1m-.899.828c-.051 0-.09.035-.095.085l-.155 1.326.155 1.287c.005.049.044.084.095.084.048 0 .09-.035.094-.084l.178-1.287-.178-1.326c-.004-.05-.046-.085-.094-.085m1.79-1.896c-.058 0-.104.048-.112.112l-.252 3.06.252 2.981c.008.064.054.112.112.112.057 0 .106-.048.113-.112l.288-2.981-.288-3.06c-.007-.064-.056-.112-.113-.112m.899-.227c-.063 0-.114.052-.122.114l-.249 3.287.249 3.174c.008.062.059.113.122.113.061 0 .111-.051.119-.113l.281-3.174-.281-3.287c-.008-.062-.058-.114-.119-.114m.899-.448c-.068 0-.127.058-.135.127l-.246 3.735.246 3.599c.008.068.067.127.135.127.066 0 .125-.059.133-.127l.281-3.599-.281-3.735c-.008-.069-.067-.127-.133-.127m.899.692c-.074 0-.134.06-.142.134l-.246 3.043.246 2.944c.008.074.068.134.142.134.073 0 .133-.06.141-.134l.279-2.944-.279-3.043c-.008-.074-.068-.134-.141-.134m.899-.449c-.078 0-.145.066-.153.145l-.244 3.492.244 3.365c.008.079.075.145.153.145.075 0 .142-.066.15-.145l.28-3.365-.28-3.492c-.008-.079-.075-.145-.15-.145m.9-.149c-.085 0-.153.068-.16.153l-.244 3.641.244 3.523c.007.085.075.153.16.153s.154-.068.16-.153l.28-3.523-.28-3.641c-.006-.085-.075-.153-.16-.153m.899.765c-.09 0-.165.075-.172.164l-.241 2.876.241 2.787c.007.089.082.164.172.164.088 0 .164-.075.172-.164l.277-2.787-.277-2.876c-.008-.089-.084-.164-.172-.164m.9-.692c-.096 0-.174.079-.181.175l-.24 3.568.24 3.453c.007.096.085.175.181.175.094 0 .172-.079.179-.175l.278-3.453-.278-3.568c-.007-.096-.085-.175-.179-.175m.899 1.186c-.101 0-.184.084-.191.184l-.238 2.382.238 2.309c.007.101.09.184.191.184.099 0 .182-.083.189-.184l.275-2.309-.275-2.382c-.007-.1-.09-.184-.189-.184m.9-1.777c-.107 0-.195.088-.202.195l-.237 4.159.237 4.027c.007.107.095.195.202.195.105 0 .195-.088.202-.195l.275-4.027-.275-4.159c-.007-.107-.097-.195-.202-.195m.899.584c-.112 0-.202.091-.21.202l-.234 3.575.234 3.466c.008.112.098.202.21.202.11 0 .201-.09.208-.202l.274-3.466-.274-3.575c-.007-.111-.098-.202-.208-.202m.899-.228c-.118 0-.213.096-.22.214l-.233 3.803.233 3.688c.007.118.102.213.22.213.116 0 .211-.095.218-.213l.272-3.688-.272-3.803c-.007-.118-.102-.214-.218-.214m.899-.401c-.123 0-.223.101-.23.223l-.232 4.204.232 4.07c.007.123.107.223.23.223.121 0 .221-.1.229-.223l.271-4.07-.271-4.204c-.008-.122-.108-.223-.229-.223m.9.456c-.128 0-.232.104-.239.232l-.23 3.748.23 3.633c.007.128.111.232.239.232.126 0 .229-.104.236-.232l.27-3.633-.27-3.748c-.007-.128-.11-.232-.236-.232m.899-.577c-.133 0-.241.109-.248.241l-.229 4.325.229 4.191c.007.133.115.241.248.241.132 0 .239-.108.247-.241l.269-4.191-.269-4.325c-.008-.132-.115-.241-.247-.241"/></svg>'
  },
];
---

<section class="mt-12 md:mt-16 lg:mt-20">
  <div class="flex gap-4 items-center">
    {socialLinks.map((link) => (
      <a
        href={link.url}
        target="_blank"
        rel="noopener noreferrer"
        class="w-6 h-6 text-[#6366f1] hover:text-[#818cf8] transition-colors"
        aria-label={`Visit my ${link.name} profile`}
        set:html={link.svg}
      />
    ))}
  </div>
</section>
